{% extends "base.html" %}
{% load static %}

{% block header %}
    <header>
        <a href="/lab1/">Лабораторная работа 1</a>
        <a href="/lab2/">Лабораторная работа 2</a>
        <a href="/lab3/">Лабораторная работа 3</a>
        <a href="/lab4/" class="active">Лабораторная работа 4</a>
    </header>
{% endblock header %}

{% block content %}
    <section class="lab-description">

        <p>Решить краевую задачу для дифференциального уравнения эллиптического типа.Аппроксимацию уравнения произвести с использованием 
        центрально-разностнойсхемы. Для решения дискретного аналога применить следующие методы: метод простых итераций (метод Либмана), метод Зейделя, 
        метод простых итераций с верхней релаксацией. Вычислить погрешность численного решения путем сравнения результатов с приведенным в задании 
        аналитическим решением <span>U(x, t)</span>.Исследовать зависимость погрешности от сеточных параметров <span>&#964;, h<sub>x</sub>, 
        h<sub>y</sub></span>.</p>
        <img class="big" src="{% static '/img/lab4.png' %}">

    </section>

    <section class="form-img">

        <form method="post">
            {% csrf_token %}

            {{ form.as_p }}
            <input type="submit" value="Построить график">

        </form>

        {% if show_graph %}
            <div class="graph">
                <img src="{% static '/img/graph_0.png' %}">
                <img src="{% static '/img/error_0.png' %}">
                <img src="{% static '/img/graph_mid.png' %}">
                <img src="{% static '/img/error_mid.png' %}">
            </div>

        {% else %}
            <img src="{% static '/img/empty.png' %}">

        {% endif %}

    </section>

{% endblock content %}