{% extends "base.html" %}
{% load static %}

{% block header %}
    <header>
        <a href="/lab1/">Лабораторная работа 1</a>
        <a href="/lab2/">Лабораторная работа 2</a>
        <a href="/lab3/">Лабораторная работа 3</a>
        <a href="/lab4/">Лабораторная работа 4</a>
    </header>
{% endblock header %}

{% block content %}
    <section class="lab-description-main">

        <h2>Лабораторная работа 1</h2>
        <p>Используя явную и неявную конечно-разностные схемы, а также схему Кранка - Николсона, решить начально-краевую задачу 
        для дифференциального уравнения параболического типа. Осуществить реализацию трех вариантов аппроксимации граничных 
        условий, содержащих производные: двухточечная аппроксимация с первым порядком, трехточечная аппроксимация со вторым 
        порядком, двухточечная аппроксимация со вторым порядком. В различные моменты времени вычислить погрешность численного 
        решения путем сравнения результатов с приведенным в задании аналитическим решением <span>U(x, t)</span>. Исследовать 
        зависимость погрешности от сеточных параметров <span>&#964;, h</span>.</p>

        <h2>Лабораторная работа 2</h2>
        <p>Используя явную схему крест и неявную схему, решить начально-краевую задачу для дифференциального уравнения 
        гиперболического типа. Аппроксимацию второго начального условия произвести с первым и со вторым порядком. Осуществить 
        реализацию трех вариантов аппроксимации граничных условий, содержащих производные: двухточечная аппроксимация с первым 
        порядком, трехточечная аппроксимация со вторым порядком, двухточечная аппроксимация со вторым порядком. В различные 
        моменты времени вычислить погрешность численного решения путем сравнения результатов с приведенным в задании аналитическим
        решением <span>U(x, t)</span>. Исследовать зависимость погрешности от сеточных параметров <span>&#964;, h</span>.</p>

        <h2>Лабораторная работа 3</h2>
        <p></p>

        <h2>Лабораторная работа 4</h2>
        <p></p>
    
    </section>
{% endblock content %}